version: '3.8'

services:
  php:
    build: .
    container_name: php-fpm
    restart: always
    networks:
      - devops-test
    volumes:
      - ./src:/var/www/html

  nginx:
    image: nginx:latest
    container_name: nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./src:/var/www/html
    depends_on:
      - php
    networks:
      - devops-test

  nginx-exporter:
    image: nginx/nginx-prometheus-exporter:1.5
    container_name: nginx-exporter
    restart: always
    ports:
      - "9113:9113"
    depends_on:
      - nginx
    networks:
      - devops-test
    command:
      - --nginx.scrape-uri=http://nginx:80/stub_status

  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    restart: always
    network_mode: "host"

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: always
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    networks:
      - devops-test
  
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - prometheus
    volumes:
      - ./grafana/provisioning:/etc/grafana/provisioning
    networks:
      - devops-test

networks:
  devops-test:
    driver: bridge
