name: Deploy to Server

on:
  push:
    branches:
      # - main
      # - master
      - test

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd /root/devops-test || git clone https://github.com/<username>/devops-test.git /root/devops-test
            cd /root/devops-test
            git pull
            docker-compose down
            docker-compose up -d --build
